*{
margin:0 auto;
padding:0;
font-family:"微软雅黑";
font-size:13px;
letter-spacing:2px;
}
.button{
width:60px;
}
.button2{
width:180px;
height:25px;
}
#z2{
width:900px;
padding-top:10px;
text-indent:10px;
height:30px;
line-height:30px;
text-align:left;
}
#z3{
width:900px;
text-indent:10px;
height:30px;
line-height:30px;
text-align:left;
}
#z4{
width:900px;
padding-top:5px;
text-indent:10px;
height:30px;
line-height:30px;
text-align:left;
}
.tpy{
width:80px;
}
p{
line-height:35px;
text-indent:15px;
}
#loading {
width:100px;
height:20px;
background:#A0DB0E;
padding:5px;
position:fixed;
left:0;
top:0;
}
#loading div {
width:1px;
height:20px;
background:#F1FF4D;
}